.speaker_container {
  display: flex;
  width: auto;
  flex-shrink: 0;
}

.speaker_image {
  width: 56px;
  height: 56px;
  background-size: cover;
  border-radius: 50%;
  margin-right: 16px;
}

.speaker_info {
  display: flex;
  max-width: 150px;
  flex-direction: column;
  row-gap: 4px;
}

.speaker_info > .name {
  font-weight: 800;
  font-size: 16px;
  line-height: 130%;
  color: #000222;
}

.speaker_info > .work {
  font-weight: 400;
  font-size: 11px;
  line-height: 135%;
  color: #000222;
}