.container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  height: auto;
  background: #f0f0f0;
  padding: 77px 240px 135px 240px;
}

.shedule_wrapper {
  width: 100%;
  max-width: 2000px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 800;
  font-size: 48px;
  line-height: 110%;
  color: #000222;
}

.shedule_select_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 222px;
  height: 42px;
  border: 1px solid #000222;
  border-radius: 46px;
  background: #E5E5E5;
}

.shedule_select_container > span {
  font-weight: 400;
  font-size: 14px;
  color: #000222;
}

.shedule_select_container > select {
  background: #E5E5E5;
  border: none;
  cursor: pointer;
  color: #888899;
  font-weight: 400;
  font-size: 14px;
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 77px 240px 137px 240px;
  }
}

@media screen and (max-width: 1439px) {
  .container {
    padding: 77px 80px 137px 80px;
  }
}

@media screen and (max-width: 1279px) {
  .container {
    padding: 77px 80px 113px 80px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 77px 30px 67px 30px;
  }
  .shedule_select_container {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header_wrapper {
    width: 267px;
  }
  .shedule_wrapper {
    align-items: flex-start;
  }
}

@media screen and (max-width: 566px) {
  .container {
    padding: 77px 30px 76px 30px;
  }
}

@media screen and (max-width: 419px) {
  .shedule_body {
    flex-direction: column;
    row-gap: 12px;
    padding: 32px 24px 34px 24px;
  }
}

@media screen and (max-width: 319px) {
  .container {
    padding: 80px 20px 120px 20px;
  }

  .shedule_title_block {
    height: 63px;
  }

  .header_wrapper {
    padding-bottom: 40px;
  }

  .container {
    flex-direction: column;
  }
}