.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.title {
  font-size: 22px;
  width: 100%;
  text-align: center;
  font-weight: 800;
  padding-bottom: 15px;
}