@mixin long_button($color, $borderColor, $backColor) {
  width: 264px;
  height: 44px;
  padding: 0;
  border-radius: 56px;
  color: $color;
  display: flex;
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  background-color: $backColor;
  border: 1px solid $borderColor;
}

@mixin long_button_body() {
  width: calc(100% - 44px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin long_button_section($backColor, $backUrl) {
  width: 44px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  background-color: $backColor;
  border-radius: 0 56px 56px 0;
  background-image: url($backUrl);
  background-repeat: no-repeat;
  background-position: center;
}

.disabled_button {
  @include long_button(#000222, #185ADB, #FFFFFF);
}

.archive_button {
  @include long_button(#000222, #185ADB, #FFFFFF);
}

.enabled_button {
  @include long_button(#888899, #888899, #E5E5E5);
}

.button_body {
  @include long_button_body();
}
  
.disabled_button .button_section, .archive_button .button_section {
  @include long_button_section(#185ADB, '../../../../assets/images/icons/add_white.svg');
}

.archive_button .button_section {
  @include long_button_section(#185ADB, '../../../../assets/images/icons/play_white.svg');
}

.enabled_button .button_section {
  @include long_button_section(#E5E5E5, '../../../../assets/images/icons/check.svg');
  border-left: 1px solid #888899;
}

.button_section {
  img {
    width: 14px;
    height: 14px;
  }
}

.disabled_button:hover, .archive_button:hover {
  background-color: #185ADB;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;


  .button_section {
    border-left: 1px solid #FFFFFF;
  }
}

.enabled_button:hover {
  color: #000222;

  .button_section {
    background-image: url('../../../../assets/images/icons/cross_black.svg');
  }
}

.full_width_button {
  width: 100%;
}