.shedule_body {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 24px 24px 114px 24px;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 8px;
  border-top: 1px solid #E5E5E5;
}

.event_time {
  display: flex;
  column-gap: 4px;
  color: #000222;
}

.event_time_disabled {
  color: #E5E5E5;
}

.event_time > .time {
  font-weight: 800;
  font-size: 16px;
  line-height: 130%;
}

.event_time > .zone {
  font-weight: 800;
  font-size: 11px;
  line-height: 135%;
}

.place {
  font-style: italic;
  font-weight: 600;
  font-size: 11px;
  line-height: 130%;
  color: #185ADB;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #000222;
}
