@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNovaFont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova';
}

#root {
  width: 100vw;
  height: 100vh;
}
